html, body {
  height: 100%;
  transform: translateZ(0);
}

.navicon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3rem;
  transition: 0.2s;
  transform-origin: 50% 50%;
  span {
    height: 0.4rem;
    display: block;
    background: black;
    margin-bottom: 0.5rem;
    transition: opacity 0.2s;
    &:nth-child(4),
    &:nth-child(5) {
      opacity: 0; 
    }
  }
  &.open {
    width: 2rem;
    transform: rotate(90deg);
    span {
      border-radius: 1rem;
      margin-bottom: 0.15rem;
      height: 0.75rem;
      &:nth-child(4),
      &:nth-child(5) {
        opacity: 1; 
      }
      &:nth-child(3) {
        width: 200%;
        margin-left: -100%;
      } 
    }
    &:after {
      content: "AWWW DIS"; 
      display: block;
      white-space: nowrap;
      transform: rotate(-90deg);
      position: absolute;
      top: 35%;
      left: 40%;
    }
  }
}